{% extends 'base.html' %}
{% load i18n %}

{% block body %}
  <div class="container my-5 border border-black rounded p-4">
    <h3 class="mb-3">{% translate 'Add Address' %}</h3>
    <form action="{% url 'accounts:add-address' %}" method="post" novalidate>
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-4">
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label><br>
          {{ field }}
          <div class="mt-2 text-danger small">
            {{ field.errors }}
          </div>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-info">{% translate 'Add Address' %}</button>
      <a href="{% url 'shop:products' %}" class="btn btn-primary">Cancel</a>
    </form>
  </div>
{% endblock %}
