{% extends 'base.html' %}
{% load i18n %}

{% block body %}
  <div class="container border border-black rounded mt-5 p-4">
	<h3 class="mb-4">{% translate 'Change Password' %}</h3>
    <form action="{% url 'accounts:password-change' %}" method="post" id="change-password" novalidate>
			{% csrf_token %}
			{% for field in form %}
			  <div class="mb-4">
			    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label><br>
				  {{ field }}
				  <div class="text-danger mt-2">
				    {{ field.errors }}
				  </div>
			  </div>
			{% endfor %}
		</form>
		<button type="submit" class="btn btn-info" form="change-password">{% translate 'Submit' %}</button>
		<a href="{% url 'shop:home' %}" class="btn btn-primary">{% translate 'Cancel' %}</a>
	</div>
{% endblock %}
