{% extends 'base.html' %}
{% load i18n %}

{% block body %}
  <div class="container">
    <h3>{% translate 'Checkout' %}</h3>
    {% if error %}
      <h5 class="bg-danger">{% translate 'Please, select an address in order to proceed to payment' %}</h5>
    {% endif %}
    {% for orderitem in order.orderitems.all() %}
      <div class="row">
        <div class="col-3">
          <img src="{{ orderitem.product.main_image.url }}" alt="{{ orderitem.product.main_image.alt }}" width="72px" height="72px">
        </div>
        <div class="col-6">
          <h3>{{ orderitem.product.title }}</h3>
          <p>{% translate "Unit Price" %}: {{ orderitem.product.price }}</p>
        </div>
        <div class="col-3">
					<p>{% translate "Quantity" %}: {{ orderitem.quantity }}</p>
				</div>
      </div>
    {% endfor %}

		<div class="row">
      <p>{% translate "Total Price" %}: {{ order.total_price }}</p>
			<!-- <div>
        coupon
      </div> -->
		</div>

    <div class="row">
      <div class="card rounded-1 mb-4 border border-black rounded">
        <div class="card-header fw-medium bg-danger-subtle border-bottom border-black">
          {% translate 'Address' %}
        </div>
        <div class="card-body p-4 bg-warning-subtle">
          <select name="address" class="form-select" required form="payment">
            <option selected>{% translate 'Choose Your Address' %}</option>
            {% for address in addresses %}
              <option value="{{ address.pk }}">{{ address }}</option>
            {% endfor %}
          </select>
          {% if addresses|length < 5 %}
            <div>
              <a href="{% url 'accounts:add-address' %}" class="btn btn-info" target="_blank">
                {% translate 'Add Address' %}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card rounded-1 mb-4 border border-black rounded">
        <div class="card-header fw-medium bg-danger-subtle border-bottom border-black">
          {% translate 'Customer Note (optional)' %}
        </div>
        <div class="card-body p-4 bg-warning-subtle">
          <textarea name="customer_note" cols="50" rows="4" form="payment" placeholder="{% translate 'Do you have any note? write down here ...' %}"></textarea>
        </div>
      </div>
    </div>

		<div class="row">
      <form action="{% url 'accounts:payment' pk=order.pk %}" method="post" novalidate id="payment">
        <div class="d-grid gap-2 col-6 mx-auto mt-4">
          <button type="submit" class="btn btn-success" {% if not addresses %}disabled{% endif %}>
            {% translate 'Make a payment' %}
          </button>
        </div>
      </form>
      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'accounts:order-cancellation' pk=order.pk %}" class="btn btn-danger">
          {% translate 'Cancel the Order' %}
        </a>
      </div>
		</div>
  </div>
{% endblock %}
