{% extends 'base.html' %}
{% load i18n %}

{% block body %}
  <h3>{% translate 'SignUp | Login' %}</h3>
  <p>{% translate 'Hello!' %}</p>
  <p>{% translate 'Please enter your phone or email' %}</p>
  <form action="{% url 'accounts:signup-login' %}" method="post">
    <input type="text" name="identifier_value" class="form-control">
    {% if error %}
      <p class="small text-danger">
        {% translate "The phone number or the email address is invalid." %}
      </p>
    {% endif %}
    <button type="submit">{% translate 'Enter' %}</button>
  </form>
{% endblock %}
