{% extends 'base.html' %}

{% block body %}
  <div class="d-flex justify-content-center align-items-center" style="height: 85vh;">
    <form method="post" novalidate class="border border-2 rounded border-dark bg-info my-5 p-5 w-50">
      {% csrf_token %}
      <h4 class="mb-4">ورود | ثبت‌نام</h4>
      <p class="">سلام!</p>
      <label for="signup-login" class="form-label">لطفا <b>شماره موبایل</b> یا <b>ایمیل</b> خود را وارد کنید:</label>
      <input type="text" id="signup-login" name="email_phone" class="form-control" required autofocus minlength="5" maxlength="254">
      {% if error %}
        <div class="mt-2">
          <p class="text-warning-emphasis small">{{ error }}</p>
        </div>
      {% endif %}
      <div class="d-grid gap-2 mb-2 mt-4">
        <button type="submit" class="btn btn-outline-light">ورود</button>
      </div>
      <p class="small">ورود شما به معنای پذیرش <a href="" class="link-underline link-underline-opacity-0 link-danger">شرایط فروشگاه ما</a> و <a href="" class="link-underline link-underline-opacity-0 link-danger">قوانین حریم خصوصی</a> است</p>
    </form>
  </div>
{% endblock %}
