<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>نیک کالا مگ | دسته بندی</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark blog-navbar"><!-- start navbar -->
        <div class="container">
            <a class="navbar-brand" href="blog.html">
                <img src="assets/images/blog-logo.jpg">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#blog-nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="blog-nav">
                <ul class="navbar-nav w-100 text-center">
                    <li class="nav-item custom-nav-item"><a class="nav-link" href="blog.html">صفحه اصلی</a></li>
                    <li class="nav-item custom-nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">تکنولوژی و کالای دیجیتال</a>
                        <div class="dropdown-menu custom-blog-dropdown-menu"><!-- start sub menu -->
                            <a href="blog-category.html" class="dropdown-item">کالای الکترونیک</a>
                            <a href="blog-category.html" class="dropdown-item">اپلیکیشن و نرم‌افزار</a>
                            <a href="blog-category.html" class="dropdown-item">فناوری اطلاعات و ارتباطات</a>
                            <a href="blog-category.html" class="dropdown-item">هوش مصنوعی و رباتیک</a>
                        </div><!-- end sub menu -->
                    </li>
                    <li class="nav-item custom-nav-item"><a class="nav-link" href="blog-category.html">بازی و سرگرمی</a></li>
                    <li class="nav-item custom-nav-item"><a class="nav-link" href="blog-category.html">کتاب و ادبیات</a></li>
                    <li class="nav-item custom-nav-item"><a class="nav-link" href="blog-category.html">فرهنگ و هنر</a></li>
                    <li class="nav-item custom-nav-item"><a class="nav-link" href="blog-category.html"> سبک زندگی</a></li>
                </ul>
                <form>
                    <div class="search-in-result  position-relative">
                        <input type="search" class="form-control" placeholder="جستجو" >
                    </div>
                </form>
            </div>
        </div>
    </nav><!-- end navbar -->

    <section class="blog-category-banner"><!-- start banner -->
        <div class="blog-category-banner-text">
            <a href="blog-category.html" class="banner-text-inner">
                <h2>معرفی بهترین گوشی های میان‌رده با دوربین قدرتمند</h2>
                <p>(خرداد 1402)</p>
            </a>
        </div>
    </section><!-- end banner -->

    <main><!-- start main -->
        <div class="container"> 

            <div class="row">

                <div class="col-lg-3">

                    <div class="custom-sidebar"><!-- start filter box 1 -->
                        <p class="font-12 border-bottom pb-2">دسته بندی ها</p>
                        <div class="mt-3 px-2">
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="category-1">
                                <label class="form-check-label font-12" for="category-1">کالای الکترونیک</label>
                            </div>
                            <div class="form-check mb-3">
                               <input type="checkbox" class="form-check-input" id="category-2">
                               <label class="form-check-label font-12" for="category-2">اپلیکیشن و نرم افزار</label>
                           </div>
                           <div class="form-check mb-3">
                               <input type="checkbox" class="form-check-input" id="category-3">
                               <label class="form-check-label font-12" for="category-3">فناوری اطلاعات و ارتباطات</label>
                           </div>
                           <div class="form-check mb-3">
                               <input type="checkbox" class="form-check-input" id="category-4">
                               <label class="form-check-label font-12" for="category-4">هوش مصنوعی و رباتیک</label>
                           </div>
                           <div class="form-check mb-3">
                               <input type="checkbox" class="form-check-input" id="category-5">
                               <label class="form-check-label font-12" for="category-5">هوا فضا و نجوم</label>
                           </div>
                       </div>
                    </div><!-- end filter box 1 -->

                    <div class="custom-sidebar"><!-- start hashtag box -->
                        <p class="font-12 border-bottom pb-2">هشتگ های داغ </p>
                        <div class="mt-3 px-2 hashtag">
                            <span>#گوشی هوشمند</span>
                            <span>#گوشی موبایل</span>
                        </div>
                    </div><!-- end hashtag box -->

                </div>

                <div class="col-lg-9">

                    <div class="row"><!-- start title -->
                        <div class="col-12 d-flex align-items-center">
                            <h1 class="blog-title-text">منتخب علم و تکنولوژی</h1>
                            <div class="blog-title-line"></div>
                            <a href="#" class="blog-title-btn">همه مقالات <i class="fa fa-arrow-left align-middle"></i></a>
                        </div>
                    </div><!-- end title -->

                    <div class="row mt-3"><!-- start blog posts -->

                        <div class="col-lg-4 col-sm-6 mb-3"><!-- start item -->
                            <div class="card border-0 custom-blog-card">
                                <div class="sub-layer">
                                    <img src="assets/images/mag-3.jpg" class="img-fluid">
                                    <div class="over-layer">
                                        <a href="blog-category.html" class="image-badge">تکنولوژی</a>
                                        <span class="image-like">(4)<i class="far fa-heart ms-1"></i></span>
                                    </div>
                                </div>
                                <div class="card-body pb-0">
                                    <a href="blog-detail.html">۱۰ اشتباه که کاربران تازه‌ وارد گوشی‌های اندرویدی مرتکب می‌شوند</a>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم 
                                        از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                    </p>
                                </div>
                                <div class="card-footer bg-white border-top-0">
                                    <img src="assets/images/person.jpg" class="person-pic">
                                    <span class="writer">سارا رضایی</span>
                                    <div class="float-end mt-2">
                                        <span class="time"><i class="fa fa-clock font-13 me-1"></i>2 ساعت قبل</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end item -->
        
                        <div class="col-lg-4 col-sm-6 mb-3"><!-- start item -->
                            <div class="card border-0 custom-blog-card">
                                <div class="sub-layer">
                                    <img src="assets/images/mag-4.jpg" class="img-fluid">
                                    <div class="over-layer">
                                        <a href="blog-detail.html" class="image-badge">تکنولوژی</a>
                                        <span class="image-like">(4)<i class="far fa-heart ms-1"></i></span>
                                    </div>
                                </div>
                                <div class="card-body pb-0">
                                    <a href="blog-detail.html">راهنمای خرید بهترین گوشی سامسونگ سری A؛ گزینه‌های ایده‌آل خرید</a>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم 
                                        از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                    </p>
                                </div>
                                <div class="card-footer bg-white border-top-0">
                                    <img src="assets/images/person.jpg" class="person-pic">
                                    <span class="writer">سارا رضایی</span>
                                    <div class="float-end mt-2">
                                        <span class="time"><i class="fa fa-clock font-13 me-1"></i>2 ساعت قبل</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end item -->
        
                        <div class="col-lg-4 col-sm-6 mb-3"><!-- start item -->
                            <div class="card border-0 custom-blog-card">
                                <div class="sub-layer">
                                    <img src="assets/images/mag-3.jpg" class="img-fluid">
                                    <div class="over-layer">
                                        <a href="blog-category.html" class="image-badge">تکنولوژی</a>
                                        <span class="image-like">(4)<i class="far fa-heart ms-1"></i></span>
                                    </div>
                                </div>
                                <div class="card-body pb-0">
                                    <a href="blog-detail.html">۱۰ اشتباه که کاربران تازه‌ وارد گوشی‌های اندرویدی مرتکب می‌شوند</a>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم 
                                        از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                    </p>
                                </div>
                                <div class="card-footer bg-white border-top-0">
                                    <img src="assets/images/person.jpg" class="person-pic">
                                    <span class="writer">سارا رضایی</span>
                                    <div class="float-end mt-2">
                                        <span class="time"><i class="fa fa-clock font-13 me-1"></i>2 ساعت قبل</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end item -->
        
                        <div class="col-lg-4 col-sm-6 mb-3"><!-- start item -->
                            <div class="card border-0 custom-blog-card">
                                <div class="sub-layer">
                                    <img src="assets/images/mag-4.jpg" class="img-fluid">
                                    <div class="over-layer">
                                        <a href="blog-category.html" class="image-badge">تکنولوژی</a>
                                        <span class="image-like">(4)<i class="far fa-heart ms-1"></i></span>
                                    </div>
                                </div>
                                <div class="card-body pb-0">
                                    <a href="blog-detail.html">راهنمای خرید بهترین گوشی سامسونگ سری A؛ گزینه‌های ایده‌آل خرید</a>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم 
                                        از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                    </p>
                                </div>
                                <div class="card-footer bg-white border-top-0">
                                    <img src="assets/images/person.jpg" class="person-pic">
                                    <span class="writer">سارا رضایی</span>
                                    <div class="float-end mt-2">
                                        <span class="time"><i class="fa fa-clock font-13 me-1"></i>2 ساعت قبل</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end item -->

                        <div class="col-lg-4 col-sm-6 mb-3"><!-- start item -->
                            <div class="card border-0 custom-blog-card">
                                <div class="sub-layer">
                                    <img src="assets/images/mag-3.jpg" class="img-fluid">
                                    <div class="over-layer">
                                        <a href="blog-category.html" class="image-badge">تکنولوژی</a>
                                        <span class="image-like">(4)<i class="far fa-heart ms-1"></i></span>
                                    </div>
                                </div>
                                <div class="card-body pb-0">
                                    <a href="blog-detail.html">۱۰ اشتباه که کاربران تازه‌ وارد گوشی‌های اندرویدی مرتکب می‌شوند</a>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم 
                                        از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                    </p>
                                </div>
                                <div class="card-footer bg-white border-top-0">
                                    <img src="assets/images/person.jpg" class="person-pic">
                                    <span class="writer">سارا رضایی</span>
                                    <div class="float-end mt-2">
                                        <span class="time"><i class="fa fa-clock font-13 me-1"></i>2 ساعت قبل</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end item -->

                        <div class="col-lg-4 col-sm-6 mb-3"><!-- start item -->
                            <div class="card border-0 custom-blog-card">
                                <div class="sub-layer">
                                    <img src="assets/images/mag-4.jpg" class="img-fluid">
                                    <div class="over-layer">
                                        <a href="blog-category.html" class="image-badge">تکنولوژی</a>
                                        <span class="image-like">(4)<i class="far fa-heart ms-1"></i></span>
                                    </div>
                                </div>
                                <div class="card-body pb-0">
                                    <a href="blog-detail.html">راهنمای خرید بهترین گوشی سامسونگ سری A؛ گزینه‌های ایده‌آل خرید</a>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم 
                                        از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.
                                    </p>
                                </div>
                                <div class="card-footer bg-white border-top-0">
                                    <img src="assets/images/person.jpg" class="person-pic">
                                    <span class="writer">سارا رضایی</span>
                                    <div class="float-end mt-2">
                                        <span class="time"><i class="fa fa-clock font-13 me-1"></i>2 ساعت قبل</span>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end item -->

                        <ul class="custom-pagination mt-4"><!-- start pagination -->
                            <li><a href="#"><i class="fa fa-angle-right align-middle"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-left align-middle"></i></a></li>
                        </ul><!-- end pagination -->
        
                    </div><!-- end blog posts -->

                </div>


            </div>
           
        </div>
    </main><!-- end main -->

    <div class="blog-footer"><!-- start blog footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-footer-menu">
                        <ul class="w-100 d-flex ps-0">
                            <li><a href="index.html">نیک کالا</a></li>
                            <li><a href="about-us.html">شرایط باز نشر</a></li>
                            <li><a href="about-us.html">فرصت های همکاری</a></li>
                            <li><a href="about-us.html">رفع مسئولیت</a></li>
                        </ul>
                    </div>
                    <p> هر گونه کپی‌برداری از مطالب نیک کالا مگ بدون کسب مجوز مکتوب ممنوع است. 
                        حقوق این سایت به یاس دیزاین تعلق دارد. 
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="input-group email-box">
                        <input type="email" class="form-control form-control-lg" placeholder=" برای عضویت در خبرنامه ایمیل خود را وارد کنید">
                        <button type="submit" class="btn btn-danger font-13 px-3">ارسال</button>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="social-list text-end mt-4">
                                <a href="#"><i class="fab fa-instagram social-media"></i></a>
                                <a href="#"><i class="fab fa-telegram social-media"></i></a>
                                <a href="#"><i class="fab fa-linkedin social-media"></i></a>
                                <a href="#"><i class="fab fa-twitter social-media"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="topbutton"><i class="fa fa-chevron-up"></i></a><!-- top button -->
    </div><!-- end blog footer -->



<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script> 
<script src="assets/js/blog-js.js"></script>
</body>
</html>