<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>قالب فروشگاهی نیک کالا | تکمیل سفارش  </title>
</head>
<body>

    <header class="w-100 bg-white"><!-- start header -->
        <div class="container">
            <div class="row">
                <div class="col-12 py-3">
                    <img src="assets/images/logo.png" class="d-block mx-auto">
                </div>
            </div> 
            <div class="row"><!-- start checkout steps -->
                <div class="col-12">
                    <ul class="checkout-steps">
                        <li class="is-completed-extra"><a href="#" class="checkout-steps-active  active-link-shopping">اطلاعات ارسال</a></li>
                        <li class="is-completed-extra"><a href="#" class="checkout-steps-active  active-link-shopping">پرداخت</a></li>
                        <li class="is-active"><a href="#" class="checkout-steps-active  active-link-shopping">اتمام خرید و ارسال</a></li>
                    </ul>
                </div>
            </div><!-- end checkout steps -->
        </div>
    </header><!-- end header -->

    <main><!-- start main -->
        <div class="container"> 
            <div class="row mt-3">

                <div class="col-lg-12 customer-info"><!-- start order info -->
                    <div class="cart-content">
                        <div class="order-check">
                            <i class="fa fa-times icon-warning"></i>
                            <p class="font-13 mt-4">سفارش <span class="order-code">DKC-57262900</span> با موفقیت در سیستم ثبت شد. </p>
                            <p class="font-13 line-height">چنانچه طی این فرایند مبلغی از حساب شما کسر شده است،طی 72 ساعت آینده به حساب شما باز خواهد گشت.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-8 col-sm-6">
                                <p class="font-14"> کد سفارش : DKC-57262900 </p>
                                <p class="font-13 line-height"> سفارش شما با موفقیت در سیستم ثبت شد و هم اکنون <span class="order-code">در انتظار پرداخت   </span> است.جزئیات این سفارش را می توانید با کلیک بر روی دکمه <a href="#" class="text-info">پیگیری سفارش</a> مشاهده نمایید. </p>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <a href="profile-order-detail.html" class="btn btn-danger d-block font-13 mx-auto my-3 order-btn">پیگیری سفارش</a>
                            </div>
                        </div>
                        <div class="row mt-3 mx-1"><!-- start customer info -->
                            <div class="col-6  bg-light"><p class="font-13 mt-3">نام تحویل گیرنده : امیر حسین رضایی</p></div>
                            <div class="col-6  bg-light"><p class="font-13 mt-3">شماره تماس : ۰۹۱۲۶۲۶۲۶۲۶</p></div>
                            <div class="col-6 "><p class="font-13 mt-3">تعداد مرسوله : 1</p></div>
                            <div class="col-6"><p class="font-13 mt-3">مبلغ کل : ۱۵۰,۰۰۰ تومان </p></div>
                            <div class="col-6  bg-light"><p class="font-13 mt-3"> وضعیت پرداخت : پرداخت آنلاین(ناموفق)  </p></div>
                            <div class="col-6  bg-light"><p class="font-13 mt-3">وضعیت سفارش : در انتظار پرداخت </p></div>
                            <div class="col-6 "><p class="font-13 mt-3">آدرس : تاستان تهران - شهر تهران - خیابان بهشتی</p></div>
                        </div><!-- end customer info -->
                    </div>
                </div><!-- end order info -->

            </div>
        </div>
    </main><!-- end main -->

    <footer><!-- start footer -->
        <div class="container">
            <div class="row footer-svg-icons border-bottom mx-2 py-2">
                <div class="col-6 col-md text-center"><img src="assets/images/1.svg"><p>تحویل اکسپرس</p></div>
                <div class="col-6 col-md text-center"><img src="assets/images/2.svg"><p >پشتیبانی 24 ساعته </p></div>
                <div class="col-6 col-md text-center"><img src="assets/images/3.svg"><p>پرداخت در محل </p></div>
                <div class="col-6 col-md text-center"><img src="assets/images/4.svg"><p>7 روز ضمانت بازگشت کالا</p></div>
                <div class="col-12 col-md text-center"><img src="assets/images/5.svg"><p>ضمانت اصل بودن کالا</p></div>
            </div>
            <div class="row"><!-- start footer box -->
                <div class="col-lg-2 col-sm-6 footer-box">
                    <p>با نیک کالا </p>
                    <ul class="ps-0">
                        <li class="mb-3"><a href="contact-us.html">اتاق خبر نیک کالا</a></li>
                        <li class="mb-3"><a href="contact-us.html">فرصت های شغلی</a></li>
                        <li class="mb-3"><a href="contact-us.html">تماس با نیک کالا</a></li>
                        <li class="mb-3"><a href="contact-us.html">درباره نیک کالا</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 footer-box">
                    <p>خدمات مشتریان</p>
                    <ul class="ps-0">
                        <li class="mb-3"><a href="contact-us.html">پرسش‌های متداول</a></li>
                        <li class="mb-3"><a href="contact-us.html">شرایط استفاده</a></li>
                        <li class="mb-3"><a href="contact-us.html">حریم خصوصی</a></li>
                        <li class="mb-3"><a href="contact-us.html">گزارش تخلف</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 footer-box">
                    <p>راهنمای خرید از نیک کالا</p>
                    <ul class="ps-0">
                        <li class="mb-3"><a href="contact-us.html">نحوه ثبت سفارش</a></li>
                        <li class="mb-3"><a href="contact-us.html">رویه ارسال سفارش</a></li>
                        <li class="mb-3"><a href="contact-us.html">شیوه‌های پرداخت</a></li>
                        <li class="mb-3"><a href="contact-us.html">رویه‌های بازگرداندن کالا</a></li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-6 footer-box">
                    <p class="mb-4">همراه ما باشید!</p>
                    <div class="social-list">
                        <a href="#"><i class="fab fa-instagram social-media"></i></a>
                        <a href="#"><i class="fab fa-telegram social-media"></i></a>
                        <a href="#"><i class="fab fa-linkedin social-media"></i></a>
                        <a href="#"><i class="fab fa-twitter social-media"></i></a>
                    </div>
                    <p>با ثبت ایمیل، از جدید‌ترین تخفیف‌ها با‌خبر شوید</p>
                    <div class="input-group mt-4 mb-5 email-box">
                        <input type="email" class="form-control form-control-lg" placeholder="ایمیل شما">
                        <button type="submit" class="btn btn-danger font-13 px-3">ارسال</button>
                    </div>
                </div>
            </div><!-- end footer box -->
            <div class="row d-none d-sm-block"><!-- start app download -->
                <div class="col-12 app-download">
                    <div class="row">
                        <div class="col-5 d-flex align-items-center">
                            <img src="assets/images/footerLogo.png" class="p-2">
                            <span class="text-white ms-2"> دانلود اپلیکیشن</span>
                        </div>   
                        <div class="col-7 d-flex align-items-center justify-content-end">
                            <a href="#"><img src="assets/images/bazzar.svg" class="img-fluid me-2 rounded"></a>
                            <a href="#"><img src="assets/images/sib-app.svg" class="img-fluid rounded"></a>
                        </div>  
                    </div>
                </div>
            </div><!-- end app download -->
            <div class="row"><!-- start footer details -->
                <div class="col-md-8 col-12 footer-details ps-0">
                    <p>فروشگاه اینترنتی نیک کالا، بررسی، انتخاب و خرید آنلاین</p>
                    <span>
                        نیک کالا به عنوان یکی از قدیمی‌ترین فروشگاه های
                        اینترنتی با بیش از یک دهه تجربه،
                        با پایبندی به سه اصل، پرداخت در محل، هفت روز ضمانت بازگشت کالا و تضمین اصل‌بودن 
                        کالا موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی 
                        ایران تبدیل شود.
                    </span>
                </div>
                <div class="col-md-4 col-12 d-flex align-items-center justify-content-end footer-pic pe-0">
                    <img src="assets/images/f-2.png" class="footer-detail-pic">
                    <img src="assets/images/f-1.png" class="footer-detail-pic">
                </div>
            </div><!-- end footer details -->
            <div class="row"><!-- start copy right -->
                <div class="col-12 copy-right">
                    <p>استفاده از مطالب فروشگاه اینترنتی نیک کالا فقط برای مقاصد غیرتجاری و 
                        با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به یاس دیزاین می‌باشد.
                    </p>
                </div>
            </div><!-- end copy right -->
        </div>
        <a href="#" class="topbutton"><i class="fa fa-chevron-up"></i></a><!-- top button -->
    </footer><!-- end footer -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script> 
<script src="assets/js/owl.carousel.min.js"></script> 
<script src="assets/js/jquery.simple.timer.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>