{% load i18n %}

<ul class="nav nav-justified bg-primary bg-gradient">
  <li class="nav-item">
    <a class="nav-link text-white" data-bs-toggle="collapse" href="#category" role="button" aria-expanded="false" aria-controls="category">
      {% translate "categories" %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'shop:home' %}">
      {% translate "Home" %}
    </a>
  </li>
  {% if request.user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'accounts:account' %}">
        {% translate "Account" %}
      </a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'accounts:signup-login' %}">
        {% translate "SignUp | LogIn" %}
      </a>
    </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'cart:cart' %}">
      {% translate "Cart" %}
    </a>
  </li>
</ul>

<!-- class: position-absolute, z-1 -->
<div class="collapse" id="category" style="position: absolute; z-index: 1;">
  <div class="card card-body bg-danger-subtle">
    {% include "category_tree.html" with categories=root_categories %}
  </div>
</div>
