{% load i18n %}

<ul class="nav nav-justified bg-primary bg-gradient">
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'shop:home' %}">
      {% translate "Home" %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="">
      {% translate "categories" %}
    </a>
  </li>
  {% if request.user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'accounts:account' %}">
        {% translate "Account" %}
      </a>
    </li>
  {% else %}
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'accounts:signup-login' %}">
        {% translate "SignUp | LogIn" %}
      </a>
    </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'cart:cart' %}">
      {% translate "Cart" %}
    </a>
  </li>
</ul>
