<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>قالب فروشگاهی نیک کالا | اطلاعات ارسال </title>
</head>
<body>

    <header class="w-100 bg-white"><!-- start header -->
        <div class="container">
            <div class="row">
                <div class="col-12 py-3">
                    <img src="assets/images/logo.png" class="d-block mx-auto">
                </div>
            </div> 
            <div class="row"><!-- start checkout steps -->
                <div class="col-12">
                    <ul class="checkout-steps">
                        <li class="is-completed"><a href="#" class="checkout-steps-active  active-link-shopping">اطلاعات ارسال</a></li>
                        <li class="is-completed"><a href="#" class="checkout-steps-item  active-link">پرداخت</a></li>
                        <li class="is-active"><a href="#" class="checkout-steps-item  active-link">اتمام خرید و ارسال</a></li>
                    </ul>
                </div>
            </div><!-- end checkout steps -->
        </div>
    </header><!-- end header -->

    <main><!-- start main -->
        <div class="container"> 
            <div class="row mt-3">
                <div class="col-lg-9 customer-info"><!-- start order info -->

                    <div class="position-relative"><!-- start customer info -->
                        <div class="cart-content checkout-contact">
                            <div class="d-flex justify-content-between">
                                <p class="font-14"> انتخاب آدرس تحویل سفارش</p>
                                <button type="button" class="btn btn-light font-12 text-muted border"  data-bs-toggle="modal" data-bs-target="#change-address-modal">تغییر آدرس ارسال</button>
                                <div class="modal fade" id="change-address-modal"><!-- start change address modal -->
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header bg-light">
                                                <h6 class="text-muted modal-title">ویرایش آدرس</h6>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="">
                                                    <div class="my-3">
                                                        <input type="text" class="form-control form-control-lg" placeholder="نام و نام خانوادگی ">
                                                    </div>
                                                    <div class="my-3">
                                                        <input type="tel" class="form-control form-control-lg" placeholder="شماره تماس">
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <label  class="form-label ms-2 font-13 light-font">استان : </label>
                                                            <select class="form-select form-select-lg font-13">
                                                                <option class="font-13">تهران</option>
                                                                <option class="font-13">البرز</option>
                                                                <option class="font-13">قزوین</option>
                                                                <option class="font-13">کرمان</option>
                                                              </select> 
                                                        </div>
                                                        <div class="col">
                                                            <label  class="form-label ms-2 font-13 light-font">شهر : </label>
                                                            <select class="form-select form-select-lg font-13">
                                                                <option class="font-13">تهران</option>
                                                                <option class="font-13">ورامین</option>
                                                                <option class="font-13">دماوند</option>
                                                                <option class="font-13">فیروزکوه</option>
                                                              </select>
                                                        </div>
                                                    </div>
                                                    <div class="my-3">
                                                        <textarea class="form-control" rows="5" placeholder=" آدرس"></textarea>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer border-top-0">
                                                <input type="submit" class="send-btn" value="ثبت آدرس">
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end change address modal -->
                            </div>
                            <p class="font-13"> گیرنده : امیرحسین رضایی</p>
                            <span class="font-13"> شماره تماس : 0912xxxxxxx </span>
                            <span class="mx-2">|</span>
                            <span class="font-13">کد پستی : 946598848626</span>
                            <p class="font-13 mt-3">آدرس : تهران - خیابان بهشتی - کوچه سرو - پلاک 12</p>
                        </div>
                        <div class="checkout-contact-badge"><i class="fa fa-check"></i></div>
                    </div><!-- end customer info -->

                    <div class="cart-content"><!-- start order box -->
                        <div class="d-flex justify-content-between">
                            <p class="font-13">مرسوله ۱ از ۱</p>
                            <p class="font-13"><i class="fa fa-truck text-danger me-2 font-14"></i>آماده ارسال</p>
                        </div>
                        <div class="row order-box">
                            <div class="col-lg-4 col-sm-6 mb-3">
                                <a href="product.html">
                                    <div class="card custom-card">
                                        <img src="assets/images/mobile1.jpg" class="slider-pic">
                                        <div class="card-body">
                                            <a href="product.html" class="product-title">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-3">
                                <a href="product.html">
                                    <div class="card custom-card">
                                        <img src="assets/images/mobile2.jpg" class="slider-pic">
                                        <div class="card-body">
                                            <a href="product.html" class="product-title">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-sm-6 mb-3">
                                <a href="product.html">
                                    <div class="card custom-card">
                                        <img src="assets/images/mobile3.jpg" class="slider-pic">
                                        <div class="card-body">
                                            <a href="product.html" class="product-title">گوشی موبایل سامسونگ مدل Galaxy A21S SM-A217F/DS</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-3"><img src="assets/images/post.svg" class="d-block mx-auto p-2"></div>
                            <div class="col-sm-10 col-9">
                                <p class="font-12 mt-3">بازه تحویل سفارش : زمان تقریبی تحویل از ۱۳ خرداد تا ۲۰ خرداد</p>
                                <span class="font-12 light-font text-muted">شیوه ارسال : پست پیشتاز </span>
                                <span class="text-muted mx-1">|</span>
                                <span class="font-12 light-font text-muted">هزینه ارسال : وابسته به آدرس</span>
                            </div>
                        </div>
                    </div><!-- end order box -->

                    <div class="cart-content">
                        <p class="font-13">صدور فاکتور</p>
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" id="check2" checked>
                            <label class="form-check-label font-12 text-muted" for="check2">درخواست ارسال فاکتور خرید</label>
                        </div> 
                        <div class="d-flex justify-content-between mt-5">
                            <a href="cart.html" class="text-info font-12"><i class="fa fa-arrow-right align-middle me-1"></i>  بازگشت به سبد خرید</a>
                            <a href="payment.html" class="text-info font-12">تایید و ادامه ثبت سفارش <i class="fa fa-arrow-left align-middle ms-1"></i></a>
                        </div>
                    </div>

                </div><!-- end order info -->

                <div class="col-lg-3"><!-- start cart box -->
                    <div class="cart-content">
                        <div class="product-seller-row">
                            <span>فروشنده :</span>
                            <span>نیک کالا</span>
                        </div>
                        <div class="product-seller-row">
                            <span> مبلغ کل (۲ کالا) :</span>
                            <span>۱۶,۸۹۷,۰۰۰ تومان </span>
                        </div>
                        <div class="product-seller-row">
                            <span>هزینه ارسال :</span>
                            <span>وابسته به آدرس</span>
                        </div>
                        <div class="product-seller-row">
                            <span>نیک کلاب :</span>
                            <span> ۱۵۰+ امتیاز </span>
                        </div>
                        <a href="payment.html" class="btn add-cart-btn">ادامه فرایند خرید</a>
                    </div>
                </div><!-- end cart box -->

            </div>
        </div>
    </main><!-- end main -->

    <footer><!-- start footer -->
        <div class="container">
            <div class="row footer-svg-icons border-bottom mx-2 py-2">
                <div class="col-6 col-md text-center"><img src="assets/images/1.svg"><p>تحویل اکسپرس</p></div>
                <div class="col-6 col-md text-center"><img src="assets/images/2.svg"><p >پشتیبانی 24 ساعته </p></div>
                <div class="col-6 col-md text-center"><img src="assets/images/3.svg"><p>پرداخت در محل </p></div>
                <div class="col-6 col-md text-center"><img src="assets/images/4.svg"><p>7 روز ضمانت بازگشت کالا</p></div>
                <div class="col-12 col-md text-center"><img src="assets/images/5.svg"><p>ضمانت اصل بودن کالا</p></div>
            </div>
            <div class="row"><!-- start footer box -->
                <div class="col-lg-2 col-sm-6 footer-box">
                    <p>با نیک کالا </p>
                    <ul class="ps-0">
                        <li class="mb-3"><a href="contact-us.html">اتاق خبر نیک کالا</a></li>
                        <li class="mb-3"><a href="contact-us.html">فرصت های شغلی</a></li>
                        <li class="mb-3"><a href="contact-us.html">تماس با نیک کالا</a></li>
                        <li class="mb-3"><a href="contact-us.html">درباره نیک کالا</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-6 footer-box">
                    <p>خدمات مشتریان</p>
                    <ul class="ps-0">
                        <li class="mb-3"><a href="contact-us.html">پرسش‌های متداول</a></li>
                        <li class="mb-3"><a href="contact-us.html">شرایط استفاده</a></li>
                        <li class="mb-3"><a href="contact-us.html">حریم خصوصی</a></li>
                        <li class="mb-3"><a href="contact-us.html">گزارش تخلف</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 footer-box">
                    <p>راهنمای خرید از نیک کالا</p>
                    <ul class="ps-0">
                        <li class="mb-3"><a href="contact-us.html">نحوه ثبت سفارش</a></li>
                        <li class="mb-3"><a href="contact-us.html">رویه ارسال سفارش</a></li>
                        <li class="mb-3"><a href="contact-us.html">شیوه‌های پرداخت</a></li>
                        <li class="mb-3"><a href="contact-us.html">رویه‌های بازگرداندن کالا</a></li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-6 footer-box">
                    <p class="mb-4">همراه ما باشید!</p>
                    <div class="social-list">
                        <a href="#"><i class="fab fa-instagram social-media"></i></a>
                        <a href="#"><i class="fab fa-telegram social-media"></i></a>
                        <a href="#"><i class="fab fa-linkedin social-media"></i></a>
                        <a href="#"><i class="fab fa-twitter social-media"></i></a>
                    </div>
                    <p>با ثبت ایمیل، از جدید‌ترین تخفیف‌ها با‌خبر شوید</p>
                    <div class="input-group mt-4 mb-5 email-box">
                        <input type="email" class="form-control form-control-lg" placeholder="ایمیل شما">
                        <button type="submit" class="btn btn-danger font-13 px-3">ارسال</button>
                    </div>
                </div>
            </div><!-- end footer box -->
            <div class="row d-none d-sm-block"><!-- start app download -->
                <div class="col-12 app-download">
                    <div class="row">
                        <div class="col-5 d-flex align-items-center">
                            <img src="assets/images/footerLogo.png" class="p-2">
                            <span class="text-white ms-2"> دانلود اپلیکیشن</span>
                        </div>   
                        <div class="col-7 d-flex align-items-center justify-content-end">
                            <a href="#"><img src="assets/images/bazzar.svg" class="img-fluid me-2 rounded"></a>
                            <a href="#"><img src="assets/images/sib-app.svg" class="img-fluid rounded"></a>
                        </div>  
                    </div>
                </div>
            </div><!-- end app download -->
            <div class="row"><!-- start footer details -->
                <div class="col-md-8 col-12 footer-details ps-0">
                    <p>فروشگاه اینترنتی نیک کالا، بررسی، انتخاب و خرید آنلاین</p>
                    <span>
                        نیک کالا به عنوان یکی از قدیمی‌ترین فروشگاه های
                        اینترنتی با بیش از یک دهه تجربه،
                        با پایبندی به سه اصل، پرداخت در محل، هفت روز ضمانت بازگشت کالا و تضمین اصل‌بودن 
                        کالا موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی 
                        ایران تبدیل شود.
                    </span>
                </div>
                <div class="col-md-4 col-12 d-flex align-items-center justify-content-end footer-pic pe-0">
                    <img src="assets/images/footer-pic-1.png" class="footer-detail-pic">
                    <img src="assets/images/footer-pic-2.png" class="footer-detail-pic">
                </div>
            </div><!-- end footer details -->
            <div class="row"><!-- start copy right -->
                <div class="col-12 copy-right">
                    <p>استفاده از مطالب فروشگاه اینترنتی نیک کالا فقط برای مقاصد غیرتجاری و 
                        با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به یاس دیزاین می‌باشد.
                    </p>
                </div>
            </div><!-- end copy right -->
        </div>
        <a href="#" class="topbutton"><i class="fa fa-chevron-up"></i></a><!-- top button -->
    </footer><!-- end footer -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script> 
<script src="assets/js/owl.carousel.min.js"></script> 
<script src="assets/js/jquery.simple.timer.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>