{% extends 'base.html' %}
{% load i18n %}

{% block body %}
  <div class="card-group container p-3">
    <div class="row g-2">
      {% for product in products %}
        <div class="col-4">
          <div class="card h-100 rounded-0">
            <img src="{{ product.main_image.image.url }}" class="card-img-top" alt="{{ product.main_image.alt }}" height="240px" width="240px">
            <div class="card-body">
              <h5 class="card-title lh-base">{{ product.title }}</h5><br>
              <p class="card-text text-end {% if product.discount %}text-decoration-line-through small{% endif %}">
                {{ product.price }} {% translate "toman" %}
              </p>
              {% if product.discount %}
                <p class="card-text text-end">
                  {{ product.get_final_price() }} {% translate "toman" %}
                </p>
              {% endif %}
            </div>
            <a href="{{ product.get_absolute_url() }}" class="stretched-link" target="_blank"></a>
          </div>
        </div>
      {% endfor %}

        <div class="col-4">
          <div class="card h-100 rounded-0">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title lh-base">گوشی موبایل سامسونگ مدل Galaxy A05s دو سیم کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت</h5><br>
              <p class="card-text text-end">11،298،900 تومان</p>
            </div>
            <a href="" class="stretched-link" target="_blank"></a>
          </div>
        </div>
        <div class="col-4">
          <div class="card h-100 rounded-0">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title lh-base">گوشی موبایل سامسونگ مدل Galaxy A55 دو سیم کارت ظرفیت 128 گیگابایت و رم 8 گیگابایت - ویتنام</h5><br>
              <p class="card-text text-end">27،300،000 تومان</p>
            </div>
            <a href="" class="stretched-link" target="_blank"></a>
          </div>
        </div>
        <div class="col-4">
          <div class="card h-100 rounded-0">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title lh-base">گوشی موبایل سامسونگ مدل Galaxy A05s ظرفیت 128 گیگابایت و رم 6 گیگابایت</h5><br>
              <p class="card-text text-end">13،102،200 تومان</p>
            </div>
            <a href="" class="stretched-link" target="_blank"></a>
          </div>
        </div>
        <div class="col-4">
          <div class="card h-100 rounded-0">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title lh-base">گوشی موبایل سامسونگ مدل Galaxy A26 دو سیم کارت ظرفیت 256 گیگابایت و رم 8 گیگابایت - ویتنام - به همراه شارژر 25 وات سامسونگ</h5><br>
              <p class="card-text text-end">23،390،000 تومان</p>
            </div>
            <a href="" class="stretched-link" target="_blank"></a>
          </div>
        </div>
    </div>
  </div>
{% endblock %}
